strong {
	font-weight: 700;
}

.InputfieldWebmentionsList p {
	margin: 0;
}

.InputfieldWebmentionsList .WebmentionsItemHeadLabel {
	float: right;
	padding-right: 1em;
}

.WebmentionItem {
	display: flex;
}

	.WebmentionItem .avatar {
		flex: 0 0 50px;
		vertical-align: top;
	}

	.WebmentionItem .avatar img {
		border-radius: 0.5rem;
		max-width: 48px;
	}

	.WebmentionItem .content {
		flex: 1 0;
		padding-left: 1rem;
		vertical-align: top;
		flex: 1 0;
	}

.WebmentionActions
{
	margin-top: 0.8em;
}

	.WebmentionActions p
	{
		display: inline-block;
		width: 25%;
		vertical-align: top;
	}

.WebmentionAdvanced pre
{
	padding: 1em;
	border: 1px solid #ddd;
	background-color: #f9f9f9;
	font-family: monospace, monospace;
	font-size: 1em;
	display: none;
	white-space: pre-wrap;
}
