.InputfieldWebmentions .WebmentionsItemHead {
	margin-bottom: 0;
}

.InputfieldWebmentions p label,
.InputfieldWebmentions p input,
.InputfieldWebmentions p select {
	display: block;
}

.InputfieldWebmentions p label.inline,
.InputfieldWebmentions p input.inline
{
	display: inline;
}

.InputfieldWebmentions .WebmentionSummary
{
	display: inline-block;
	width: 68%;
	padding-right: 2%;
	vertical-align: top;
}

.InputfieldWebmentions .WebmentionVisibility,
.InputfieldWebmentions .WebmentionStatus
{
	display: inline-block;
	width: 15%;
	vertical-align: top;
}





.InputfieldWebmentions .WebmentionsItemCite,
.InputfieldWebmentions .WebmentionsItemEmail,
.InputfieldWebmentions .WebmentionsItemWebsite,
.InputfieldWebmentions .WebmentionsItemStatus,
.InputfieldWebmentions .WebmentionsItemDelete {
	float: left;
	width: 23%;
	margin-right: 2%;
}

.InputfieldWebmentions .WebmentionsItemStatus {
}

.InputfieldWebmentions .WebmentionsItemCite input,
.InputfieldWebmentions .WebmentionsItemWebsite input,
.InputfieldWebmentions .WebmentionsItemEmail input {
	width: 100%;
}

.InputfieldWebmentions .WebmentionsItemText {
	clear: both;
	margin-bottom: 0;
}

.InputfieldWebmentions .WebmentionsItemHeadLabel {
	float: right;
	padding-right: 1em;
}

.InputfieldWebmentionsList > li > .ui-widget-content {
	padding: 1em;
}

.InputfieldWebmentionsList .ui-widget-content p {
	margin: 0;
}

.InputfieldWebmentionsList .ui-widget-content label {
	/*font-weight: bold;*/
}

/*
.InputfieldWebmentionsList > li > .ui-widget-content label {
	font-weight: bold;
}
*/